<SIR-Config version="1.0">
	<radar type="AIS">
		<transmitter ip="10.12.167.5" port="5000"/>
		<receiver/>
		<db type="postgres">
			<id>ais11</id>
			<port></port>
			<host>10.12.170.131</host>
			<name>monitoreo</name>
			<passw>monitoreo</passw>
			<user>monitoreo</user>
		</db>
	</radar>
</SIR-Config>
